extends template

block content
    h1 Home Page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur sit, deleniti. Ipsum saepe culpa quam reprehenderit, minus totam aliquid cupiditate non odit numquam provident enim quas inventore nisi adipisci.